/* Css reset  */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    text-align: center;
}

/* Generics  */
body {
    background-color:  rgba(63, 89, 205, 0.1);
    padding-top: 50px;
}

h1 {
    padding-top: 50px;
    padding-bottom: 25px;
    font-size: 50px;
    color: blueviolet;
}

.container {
    width: 50%;
    margin: 0 auto;
}

#winner, #form {
    padding: 25px;
    background-color: rgba(63, 89, 205, 0.1);
    border: 1px solid black;
    margin-bottom: 10px;
}

#email {
    padding: 10px 15px;
    border-radius: 5px;
}

#login, #generate {
    border: none;
    background-color: dodgerblue;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 17.5px;
    color: white;
    margin-left: 5px;
    transition: background-color 0.25s, transform 0.25s;
}

#login:hover, #generate:hover {
    transform: scale(1.05);
    background-color: lightcoral;
}

/* Utils  */